


*{
    margin: 0;
    padding: 0;
   overflow-x:hidden ;
}

.top-left-content {
    position: absolute;
    top: 1px;
    left: 0;
    display: flex;
    align-items: center;
    padding: 3px;
}

.top-left-content img{

    width: 250px;
    height: 180px;   
}

.section-1{
    background-image: url('/img/launch.jpeg');
    background-size: cover;
    height: 970px;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
}

.sect1-content{
    position: relative;
    top: 40rem;
    left: 20rem;
}
#sect1-first-head{
    font: 20px/38px D-DIN-Medium,Arial,Verdana,sans-serif;
    font-weight: 400;
    font-style: normal;
}
#sect1-second-head{
    font: 46px/50px D-DIN-Bold,Arial,Verdana,sans-serif;
    font-weight: 600;
    font-size: 48px;
    font-style: normal;
}
.sect1-button{
width: 11rem;
margin-top: 30px;
margin-left: 10px;
height: 3rem;
color: #ffffff;
font-family: D-DIN-Bold,Arial,Verdana,sans-serif;
font-size: 13px;
font-weight: 500;
border:2px solid #ffffff;
background-color: transparent;
}

.top-right-content {
    position: absolute;
    top: 77px;
    right: 70px;
    display: flex;
    align-items: center;
    padding: 9px;
}

.falcon-info{

    display: flex;  
}

.falcon-name{

    margin-right: 20px;
    color: white;
    font-family: arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;  
}

.shop {
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;
    color: white;
    font-family: arial, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.menu-button {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 10px;    
}

.line {
    width: 20px;
    height: 2px;
    background-color: white;
}


.section-2{
    background-image: url('/img/starlink.jpeg');
    background-size: cover;
    height: 970px;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
}

.sect2-content{
    position: relative;
    top: 40rem;
    left: 20rem;
}
#sect2-first-head{
    font: 20px/38px D-DIN-Medium,Arial,Verdana,sans-serif;
    font-weight: 400;
    font-style: normal;
}
#sect2-second-head{
    font: 46px/50px D-DIN-Bold,Arial,Verdana,sans-serif;
    font-weight: 600;
    font-size: 48px;
    font-style: normal;
}
.sect2-button{
width: 11rem;
margin-top: 30px;
margin-left: 10px;
height: 3rem;
color: #ffffff;
font-family: D-DIN-Bold,Arial,Verdana,sans-serif;
font-size: 13px;
font-weight: 500;
border:2px solid #ffffff;
background-color: transparent;
}


.section-3{
    background-image: url('/img/starship.jpg');
    background-size: cover;
    height: 970px;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
}

.sect3-content{
    position: relative;
    top: 40rem;
    left: 20rem;
}

#sect3-first-head{
    font: 20px/38px D-DIN-Medium,Arial,Verdana,sans-serif;
    font-weight: 400;
    font-style: normal;
}

#sect3-second-head{
    font: 46px/50px D-DIN-Bold,Arial,Verdana,sans-serif;
    font-weight: 600;
    font-size: 48px;
    font-style: normal;
}
.sect3-button{
width: 11rem;
margin-top: 30px;
margin-left: 10px;
height: 3rem;
color: #ffffff;
font-family: D-DIN-Bold,Arial,Verdana,sans-serif;
font-size: 13px;
font-weight: 500;
border:2px solid #ffffff;
background-color: transparent;
}

.footer{
    height: 80px;
    margin-top: -4px;
    width: 100%;
    background-color: black;
   
}
#foot-list{
    margin-left: 595px;
    margin-top: 36px;
    color: #ffffff;
    font: 18px D-DIN-Bold,Arial,Verdana,sans-serif;
    display: flex;
    gap: 30px;
    font-size: 11px;
    font-weight: 400;
}
#foot-corp{
    color: #979797;
    font-family: D-DIN-Regular;
    
}
